<ul class="nav nav-tabs">
  <% @programs.each do |program| %>
    <%= nav_link program.name, program %>
  <% end %>
</ul>

<br>

<div class="panel panel-default">
	<div class="panel-heading">Problem Statement</div>
	<div class="panel-body">
		<%= raw BlueCloth.new(@program.statement).to_html %>
	</div>
</div>