<h1>New post</h1>
<hr>

<div class="alert alert-info">
	<span class="glyphicon glyphicon glyphicon-warning-sign"></span> 
	You are making a post for the program <b><%= @post.program.name %></b> (<i>worth <%= @post.program.reward %> points</i>).
</div>

<%= render 'form' %>
