<h1>Runs</h1>
<hr>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>RunID</th>
      <th>Program</th>
      <th>Success</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.id %></td>
        <td><%= run.program.name %></td>
        <td>
          <% if run.success %>
            <span class="glyphicon glyphicon glyphicon-ok" style="color: #3c763d;"></span>
          <% else %>
            <span class="glyphicon glyphicon glyphicon-remove" style="color: #a94442;"></span>
          <% end %>
        </td>
        <td>
          <%= link_to 'View', run %>
          <% if !run.success %>
            or <%= link_to 'Delete', run, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
